body {
  font-family: monospace;
  margin: 20px;
  padding: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50vw;
}

.input {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
}

.btn {
  padding: 5px;
  width: 150px;
  background-color: lightgray;
  border: 2px solid darkgray;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: darkgrey;
}

.expense-amount {
    font-weight: bold;
}